<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="Middle" th:fragment="content">
        <div class="wrap">
            <main class="Middle-main">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a th:href="${@environment.getProperty('app.link.main')}" th:text="#{breadcrumbs.main}">Главная</a>
                    </li>
                    <li class="breadcrumbs-item">
                        <a th:href="${@environment.getProperty('app.link.genres')}" th:text="#{breadcrumbs.genres}">Жанры</a>
                    </li>
                    <li class="breadcrumbs-item" th:each="parentGenre : ${breadcrumbs}">
                        <a th:href="${@environment.getProperty('app.link.genres') + '/' + parentGenre.slug}"
                           th:text="${parentGenre.name}"
                        >Легкое чтение</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span th:text="${genre.name}">Детективы</span>
                    </li>
                </ul>
                <header class="Middle-header">
                    <h1 class="Middle-title" th:text="${genre.name}">Детективы</h1>
                </header>
                <div class="Section">
                    <div class="Cards Cards_refresh">
                        <th:block th:each="book : ${bookList.books}">
                            <div class="Card" th:replace="~{books/card :: bookCard(${book})}"></div>
                        </th:block>

                        <div class="Cards-footer Cards-footer_center">
                            <a th:style="${bookList.count <= T(java.lang.Integer).parseInt(@environment.getProperty('app.books-per-page'))} ? 'display:none'"
                               class="btn btn_primary"
                               href="#"
                               data-refreshshow="genre"
                               data-refreshoffset="1"
                               th:data-refreshlimit="${@environment.getProperty('app.books-per-page')}"
                               th:data-refreshid="${genre.id}"
                               th:text="#{button.more}"
                            >Показать еще</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
